<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}

    <title>Inkleby</title>
</head>

<body id="page-top" class="front">
{% include "nav.html" %}
        
        <div class="container" >
            <section style="padding-bottom:0px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading" style="margin-top:50px">Inkleby</h1>
                    <hr class="small">
                </div>
            </div>
            </section>
            
            
    <div class="container contact-box text-center">
	
<p>Inkleby builds <a href="/projects">websites and tools</a> to make data more useful.</p>
<p>Read more about our projects <a href="/projects">here</a>.</p>
    </div>            
        
	<hr class = "small">	
<div class = "container contact-box text-center">
	
	{% set recent = articles if not all_articles else all_articles %}
	<b>Recent Updates:</b>
	{% for a in recent %}
	{% if loop.index <= 3 %}
	<a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>{% if loop.index <= 2 %},{% endif %}
	{% endif %}
	{% endfor %}
     | <a href="/blog">See More</a>
</div>
	
<hr class = "small">	
	
                    <h2 class="section-heading text-center" style="margin-top:20px">Our Work</h2>
                    <hr class="small">

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
				{% for row in ROW_PORTFOLIO %}
					{% for no, p in row %}
					<div class="col-md-4 {% if no == 0 %}col-md-push-4{% elif no == 1 %}col-md-pull-4{% endif %} col-sm-6">
						<a href="{{p.3}}" class="portfolio-box">
							<img src="/theme/img/portfolio/{{p.2}}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										{{p.1}}
									</div>
									<div class="project-name">
										{{p.0}}
									</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				{% endfor %}
            </div>
        </div>
    </section>

    </div>  
 


 
{% include "footer.html" %}




</body>

</html>
