<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:site_name" content="Lintic"/>
    <meta property="og:title" content="Lintic"/>
    <meta property="og:description" content="Better Longform Publishing" />
    <meta property="og:url" content="http://www.inkleby.com/lintic/" />
    <meta property="og:image" content="http://www.inkleby.com/theme/img/lintic_share.png" />
    
    
    <title>Lintic</title>

    <!-- Bootstrap Core CSS -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/theme/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Lintic</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>

                    <li>
                        <a href="http://www.inkleby.com/">Inkleby</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Lintic</h1>
                        <h3>Better Long Form Publishing</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#about" class="btn btn-default btn-lg"><i class="fa fa-cog fa-fw" ></i> <span class="network-name">About</span></a>
                            </li>
                            <li>
                                <a href="#signup" class="btn btn-default btn-lg"><i class="fa fa-user-plus fa-fw"></i> <span class="network-name">Sign Up</span></a>
                            </li>
                            <li>
                                <a href="#examples" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i> <span class="network-name">Examples</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	
    <div class="content-section-a">
        <a class="anchor" name="about"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    
                    <h2 class="section-heading">What is Lintic?</h2>
                    
                    <p  class="lead">Lintic is the result of frustration at PDFs as the default way of publishing - and a lack of tools for longform web publishing aimed at the policy/research community. </p>
                    
                    
                    
                    </p>
                    
                    <p class="lead">Lintic takes a Word document (or you can just dump text in) and publishes the content as a nicely formatted webpage. It intelligently creates a navigation structure and uses a DeepCite system to make it so each paragraph can be individually linked and shared.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/theme/img/pile.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What's wrong with PDFs?</h2>
                    
                    <ul class="lead">
                    <li><b>Many are never read.</b> The World Bank found <a target="_blank" href="https://www.washingtonpost.com/news/wonk/wp/2014/05/08/the-solutions-to-all-our-problems-may-be-buried-in-pdfs-that-nobody-reads/">1/3 of their reports were never even being downloaded</a>. As many again were hardly read at all. A lot of research has already been produced that could go further if it was easier to read/share.</li>
                    <li><b>A4 in a world of phones.</b> It's hard to read PDFs on mobile devices and these are fast becoming the primary way people access the internet. </li>
                    <li>
<b>PDFs cannot be deep-linked.</b> By making it easy to link back to the initial paragraph, we make it more likely people will not only read the interesting information being shared - but that they’ll read on and learn more from your writing.                    </li>

                    </ul>
                    
                    <p>See also: <a href="http://www.urban.org/urban-wire/your-data-deserve-better-pdf" target="_blank">Your data deserve better than a PDF</a>
                   
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <hr class="section-heading-spacer">
                    <img class="img-responsive" src="/theme/img/desk.png" alt="">
                    <p style="text-align:center">PDFs make reading your work harder. We want to make it easier to read and share long content.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Why not just publish on platforms like Wordpress or Medium?</h2>
                    <p class="lead">You should do that too! But current platforms are at their best at short lengths and often lack features essential for publishing research. Support for footnotes or charts is usually depending on third-party plugins if available at all.</p>       
                    
                    <p class="lead">These platforms will also require you to be comfortable hosting your research on third-party sites or maintaining your own installation. Lintic generates files that you can host yourself with no complicated requirements. The idea is if you can store PDFs, you can store Lintic sites.</p>
                    
                    
                    
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/theme/img/phones.png" alt="">
                    <p style="text-align:center">PDFs on mobile - ungood if your work benefits from public engagement.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
            
                 <div class="col-lg-5  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    
                    <h2 class="section-heading">Features:</h2>
                      <ul class="lead">
                        <li>Auto-generates TOC and navigation structure.</li>
                        <li>Can be easily read and shared from mobile and desktops.</li>
                        <li>Automatically creates links for each paragraph - that work even if content is re-arranged.</li>
                        <li>Ability to give readers a 'catchup' when they're linked deep into the document - giving a summary of what you've missed.</li>
                        <li>Smart concealment and reveal of notes and footnotes.</li>
                        
                    </ul>
                    
                    
                </div>           

            
                <div class="col-lg-offset-2 col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a class="anchor" name="examples"></a>
                    <h2 class="section-heading">Can I see what it looks like?</h2>
                      <ul class="lead">
                        <li>Generation Rent - <a href="http://lettingfees.co.uk/report/">Letting Fees Report</a>
                        <ul>
                        <li><a href="http://lettingfees.co.uk/report/#3.112.xfby_._3759.qwor7">Paragraph with catchup</a></li>
                        <li><a href="http://lettingfees.co.uk/report/#2.17.asbh3.ignmv.bmzhp">Paragraph with notes</a></li>
                        <li><a href="http://lettingfees.co.uk/report/#2.54.vpkbv.aavxg.rhewg">Paragraph with footnotes</a></li>
                        </ul>
                        </li>
                    </ul>
                    
                    
                    </p>
                </div>
                

            </div>

        </div>
        <!-- /.container -->

    </div>

    
    
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="clearfix"></div>
                    <a class="anchor" name="signup"></a>
                    <h2 class="section-heading" style="text-align:center">Is Lintic for me?</h2>
                    <ul class="lead">
                    <li>Does your organisation produce research it distributes as PDFs?</li>
                    <li>Do you have an archive of past research that would benefit from a second life?</li>
                    <li>Would making your research easier to share help accomplish your goals?</li>
                    

                    </ul>
                             
                    
                    <hr >

                    <p class="lead" style="text-align:center">We're currently testing Lintic out and are interested in finding organisations to work with to help adapt it to its best use.</p>
                    
                    <p class="lead" style="text-align:center">
                    If that's you, or you're interested in hearing as we open up, please sign up below:</p>

                    <form action="//inkleby.us11.list-manage.com/subscribe/post?u=34a9d0f2f914d4b2054f4f61a&amp;id=752e502036" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<input type="hidden" value="1" name="embed"/>

<div class="input-group">


<input class="form-control required email"  type="email"  name="EMAIL" id="mce-EMAIL" placeholder="Sign up to hear more about Lintic" />

<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_34a9d0f2f914d4b2054f4f61a_af7f90c45a" tabindex="-1" value=""></div>

<span class="input-group-btn">
<input class="btn btn-primary button" name="subscribe" id="mc-embedded-subscribe" type="submit" value="Sign Up">
</span>
</div>
     </form>     

                    <Br>
                    <p class="lead" style="text-align:center">
                    If you want to discuss Lintic directly - email <b>lintic (at) inkleby dot com</b>.
                    
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->   
 
    
	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Lintic is made by <a href="http://www.inkleby.com/" style="color:#DFF0D8">Inkleby</a></h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">&copy; <a href="/about">Inkleby Media</a> 2016. (<a href="/privacy-policy/">Privacy Policy</a>)</p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/theme/js/bootstrap.min.js"></script>

    
    {% if GOOGLE_ANALYTICS %}
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GOOGLE_ANALYTICS}}', 'auto');
  ga('send', 'pageview');

</script>

    
    {% endif %}
    
</body>

</html>
